## MANUALLY ADDED FILES
src/setup.py
.pydevproject
.project
src/archive/IOMonitorLog.xml
src/archive/IOMonitorLog_fpow.xml
src/archive/IOMonitorLog_full.xml
src/archive/IOMonitorLog_san200ascii.xml
src/archive/IOMonitorLog_san200real.xml
src/IOMonitorLog.txt
src/IOMonitorLog.xls
src/IOMonitorLog.xml.txt
src/IOMonitorLog.xml.xls
src/IOMonitorLog_fpow.xml
src/IOMonitorLog_full.xml
src/IOMonitorLog_san200ascii.xml
src/IOMonitorLog_san200real.xml
src/Run.bat
#######################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
